@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atkinson";
  src: url("/font/AtkinsonHyperlegible-Regular.woff2");
}

@font-face {
  font-family: "Atkinson";
  font-weight: bold;
  src: url("/font/AtkinsonHyperlegible-Bold.woff2");
}

@font-face {
  font-family: "Atkinson";
  font-style: italic;
  src: url("/font/AtkinsonHyperlegible-Italic.woff2");
}

@font-face {
  font-family: "Atkinson";
  font-weight: bold;
  font-style: italic;
  src: url("/font/AtkinsonHyperlegible-BoldItalic.woff2");
}

@font-face {
  font-family: "RammettoOne";
  src: url("/font/RammettoOne.woff2");
}

@font-face {
  font-family: "Macondo";
  src: url("/font/Macondo-Regular.woff2");
}

@font-face {
  font-family: "Syncopate";
  src: url("/font/Syncopate-Bold.woff2");
}

@font-face {
  font-family: "Pattaya";
  src: url("/font/Pattaya-Regular.woff2");
}

@font-face {
  font-family: "GasoekOne";
  src: url("/font/gasoekone-regular-webfont.woff2");
}

@font-face {
  font-family: "Glitch";
  src: url("/font/RubikGlitch-Regular.woff2");
}

@font-face {
  font-family: "Flexi";
  src: url("/font/Flexi-IBM.woff2");
}

@font-face {
  font-family: "ka1";
  src: url("/font/ka1.woff2");
}

@font-face {
  font-family: "Euclid";
  src: url("/font/Euclid.woff2");
}

@layer utilities {
  .retro-stripes {
    background-image: linear-gradient(-10vdeg,
        transparent 0% 25%,
        theme('colors.secondary') 25% 45%,
        transparent 45% 55%,
        theme('colors.primary') 55% 75%,
        transparent 75% 100%);
  }
}