@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atkinson";
  src: url("/font/AtkinsonHyperlegible-Regular.woff2");
}

@font-face {
  font-family: "Atkinson";
  font-weight: bold;
  src: url("/font/AtkinsonHyperlegible-Bold.woff2");
}

@font-face {
    font-family: "Atkinson";
    font-style: italic;
    src: url("/font/AtkinsonHyperlegible-Italic.woff2");
}

@font-face {
  font-family: "Atkinson";
  font-weight: bold;
  font-style: italic;
  src: url("/font/AtkinsonHyperlegible-BoldItalic.woff2");
}

@font-face {
  font-family: "RammettoOne";
  src: url("/font/RammettoOne.woff2");
}

@font-face {
  font-family: "Macondo";
  src: url("/font/Macondo-Regular.woff2");
}

@font-face {
  font-family: "Syncopate";
  src: url("/font/Syncopate-Bold.woff2");
}

@font-face {
  font-family: "Pattaya";
  src: url("/font/Pattaya-Regular.woff2");
}

@font-face {
  font-family: "GasoekOne";
  src: url("/font/gasoekone-regular-webfont.woff2");
}

@font-face {
  font-family: "Glitch";
  src: url("/font/RubikGlitch-Regular.woff2");
}
